
body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #B1FF88;
}

.quem-somos {
    background-color: #7FDEFF;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;    
}

.parceiros {
    background-color: #FFFD7F;
}

.servicos {
    background-color: pink;
}

.bg-footer {
    background-color: black;
    color: white;
}